header {
  padding: 10px 50px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  background: darkgrey;
}
#header-content {
  display: flex;
  position: relative;
}
#menu-data a, #logo-brand a {
  padding-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#menu-data {
  position: absolute;
  right: 0;
}
#tableList,
#form-container {
  width: 80%;
  margin: auto;
}
#tableList {
  border: 1px solid;
}
#tableList table {
  width: 96%;
  margin: auto auto 20px auto;
}
#tableList table tr th,
#tableList table tr td {
  text-align: left;
  padding: 10px;
}
#tableList table tr th svg {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  cursor:pointer
}
#tableList table tr td.action-column svg{
  cursor:pointer
}
#tableList #filter-pannel {
  display: flex;
  width: 96%;
  margin: 20px auto 20px auto;
}
#tableList #filter-pannel div {
  width: 30%;
}
#tableList #filter-pannel label {
  width: 10%;
}
#form-container {
  border: 1px solid;
  display: flow-root;
}
#form-container div {
  width: 47%;
  float: left;
  margin-left: 25px;
  margin-bottom: 20px;
}
#form-container div label {
  margin-bottom: 10px;
  display: block;
}
#form-container div:last-child {
  float: right;
  text-align: right;
  margin-left: auto;
  margin-right: 5%;
}
#tableList h4,
#form-container h4 {
  margin: 0px 0px 5px 0px;
  background: darkgrey;
  padding: 10px 0 10px 25px;
}
.form-control {
  padding: 6px;
  font-size: 14px;
  width: 90%;
  border-radius: 4px;
  border: 1px solid;
}
button {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}
.button-success {
  background-color: #419d8f;
}
.button-danger{
  background: #c5221f;
  color:#fff
}
#popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000a1;
}
#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
#popup-content .close-popup {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor:pointer
}
#button-action-popup {
  display: flex;
  float: right;
  margin-top:10px;
}
#form-container div:nth-child(4) div {
  width: 100%;
    text-align: left;
    margin-right: unset;
}
#form-container div:nth-child(4) div .form-control {
  width:93%
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #tableList, #form-container {
    width: 90%;
  }
  #tableList #filter-pannel label {
    width: 15%;
  }
  #form-container div{
    width:45%;
  }
}
@media only screen and (max-width: 767px){
  #form-container div {
    width: 100%;
    margin-left: 22px;
}
#form-container div:nth-child(4) div{
  margin-bottom:0
}
#tableList, #form-container{
  width:90%
}
#tableList #filter-pannel label {
    width: 15%;
}
body, .form-control {
    font-size: 10px;
}
#tableList table tr th svg{
  margin-top:2px;
}
}

